/* Réinitialisation */
body {
  margin: 0;
  padding: 0;
  flex-direction: column;
}

/* Conteneur principal */
.container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0px 0px;
  max-width: 1200px;
 padding-left: 130px;
  flex: 1;
}

/* En-tête */
header {
  margin: 25px 0;
  grid-column: 1 / span 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("LOGOSITE2023.jpg") no-repeat center;
  height: 120px;
  background-size: 33%;
}

/* Livres */
.book1,
.book2,
.book3,
.book4,
.book5,
.book6 {
  position: relative;
  width: 100%;
  max-width: 249px;;
}

/* Zones cliquables */
.area {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

/* Images des livres */
img {
  display: block;
  width: 249px;
  height: 354px;
  border: solid lightgrey 1.5px;
}

/* Suppression de l'espacement sur le dernier élément de chaque rangée */
.book3,
.book6,
.contact {
  margin-right: 0;
}

/* Effet de survol sur les images des livres */
.book1:hover img,
.book2:hover img,
.book3:hover img,
.book4:hover img,
.book5:hover img,
.book6:hover img {
  border-color: rgba(128, 128, 128, 0.616);
}

/* Pseudo-éléments pour l'effet de survol */
.book1:hover:before,
.book2:hover:before,
.book3:hover:before,
.book4:hover:before,
.book5:hover:before,
.book6:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
}

/* Pied de page */
footer {
  grid-column: 1 / span 3;
  grid-row: 3;
  height: 100px;
  background: url("CONTACTSITE2023.jpg") no-repeat center/cover;
  background-size: 70%;
}

/* Marge pour le pied de page */
.footer-margin {
  background-size: 40%;
  background-position: top;
}

/* Media Queries */



/* Écrans jusqu'à 780px de large */
@media only screen and (max-width: 780px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1px 15px;
    align-items: flex-start;
    z-index: 1;
    padding: 0 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
  }

  header {
    margin-top: 20px;
    grid-column: 1 / span 2;
    grid-row: 1;
    position: static;
    margin: 0;
    background-size: contain;
    height: 10vh;
    z-index: 9999;
  }

  .book1,
  .book2,
  .book3,
  .book4,
  .book5,
  .book6 {
    width: calc(100% - 30px);
    height: auto;
    max-width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .book1,
  .book3,
  .book5 {
    margin-left: 25px;
  }
}

/* Orientation portrait */
@media only screen and (orientation: portrait) {
  img {
    width: 70%;
  }
  .area {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    margin-bottom: 0%;
  }
  header {
    background-size: 60%;
  }
  footer {
    background-position: top;
  }
  .footer-margin{
    margin-top: 20px;
  }
  .container {
    margin-top: 1px;
    margin-bottom: 1px;
    grid-template-rows: 170px 170px 170px;
    grid-gap: 0px 30px;
  }
  .book1,
  .book3,
  .book5 {
    justify-content: right;
  }
  .book2,
  .book4,
  .book6 {
    justify-content: left;
  }
}

/* Écrans jusqu'à 900px de large en mode paysage */
@media only screen and (orientation: landscape) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 70px;
    align-items: center;
    justify-items: center;
    max-width: 900px;
  }
  header {
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
  }
  .book1,
  .book2,
  .book3,
  .book4,
  .book5,
  .book6 {
    height: auto;
    max-width: 100%;
    margin: 0 35px; /* Ajout de l'espacement horizontal */
  }
}
/* Écrans jusqu'à 720px de large */
@media only screen and (max-width: 720px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 20px 20px;
  }

  .book1,
  .book2,
  .book3,
  .book4,
  .book5,
  .book6 {
    width: 100%;
    height: auto;
  }
  .area{
    margin-bottom: 0px;
  }
}
/* Écrans entre 780px et 900px de large */
@media only screen and (min-width: 720px) and (max-width: 900px) {
  .container {
    grid-gap: 20px 20px;
    max-width: none; /* Supprime la largeur maximale */
  }

  .book1,
  .book2,
  .book3,
  .book4,
  .book5,
  .book6 {
    margin: 0; /* Supprime les marges horizontales */
    width: 100%;
    max-width: none; /* Supprime la largeur maximale */
  }
}

/* Media Query pour les tablettes en mode portrait */
/* Media Query pour les tablettes en mode portrait */
@media only screen and (min-width: 720px) and (max-width: 900px) and (orientation: portrait) {
  /* Styles spécifiques pour le mode portrait des tablettes */
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1px 15px;
    align-items: flex-start;
    z-index: 1;
    padding: 0 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
  }
  
  header {
    margin-top: 20px;
    grid-column: 1 / span 2;
    grid-row: 1;
    position: static;
    margin: 0;
    background-size: contain;
    height: 10vh;
    z-index: 9999;
  }
  
  .book1,
  .book2,
  .book3,
  .book4,
  .book5,
  .book6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 30px);
    height: auto;
    max-width: 100%;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .book1,
  .book3,
  .book5 {
    margin-left: 25px;
  }
}


/* Media Query pour les tablettes en mode paysage */
@media only screen and (min-width: 720px) and (max-width: 900px) and (orientation: landscape) {
  /* Styles spécifiques pour le mode paysage des tablettes */
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px 70px;
    align-items: center;
    justify-items: center;
    max-width: 900px;
  }
  header {
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
  }
  .book1,
  .book2,
  .book3,
  .book4,
  .book5,
  .book6 {
    height: auto;
    max-width: 100%;
    margin: 0 35px; /* Ajout de l'espacement horizontal */
  }
}

/* Écrans entre 780px et 900px de large */
@media only screen and (min-width: 780px) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1px 15px;
    align-items: flex-start;
    z-index: 1;
    padding: 0 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
  }

  header {
    margin-top: 20px;
    grid-column: 1 / span 2;
    grid-row: 1;
    position: static;
    margin: 0;
    background-size: contain;
    height: 10vh;
    z-index: 9999;
  }

  .book1,
  .book2,
  .book3,
  .book4,
  .book5,
  .book6 {
    width: calc(100% - 30px);
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 70%;
    height: auto;
  }

  
}
